.message, .success {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.success {
  border-color: green; }

.hamburger {
  z-index: 10;
  position: fixed;
  top: 5%;
  right: 5%;
  padding: 5px 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger-box {
  width: 30px;
  height: 18px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px; }
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    width: 30px;
    height: 2px;
    background-color: #0B3EC6;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::after, .hamburger-inner::before {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -8px; }

.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::after {
      top: 8px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -60px;
      top: -60px;
      transform: translate3d(60px, 60px, 0) rotate(45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -60px;
      top: -60px;
      transform: translate3d(-60px, 60px, 0) rotate(-45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

header {
  background: #1f1e1e; }

#nav {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  background: #1f1e1e;
  transition: top 0.4s;
  z-index: 9;
  opacity: 1; }

#nav h1 {
  display: none;
  visibility: hidden; }

#nav ul li {
  list-style: none; }

#nav a.menu__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25em 0;
  border: 1px solid red;
  text-align: center; }
  #nav a.menu__item:last-child {
    margin-bottom: 0; }
  #nav a.menu__item .menu__item-name {
    font-family: 'Roboto', serif;
    font-size: 2.25em;
    padding: 0 0.25em;
    color: #fff;
    border: 1px solid red; }
  #nav a.menu__item .menu__item-name::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    pointer-events: none;
    background: #72d0f4;
    transform: scale3d(0, 1, 1);
    transform-origin: 100% 50%;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1); }

#nav .menu__item:hover .menu__item-name::before,
#nav .menu__item:focus .menu__item-name::before {
  transform: scale3d(1, 1, 1);
  transform-origin: 0% 50%; }

#nav .menu__item-label {
  font-size: 0.85em;
  margin-top: 0.5em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #e5d338; }

#nav .menu__item-label::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1f1e1e;
  transform-origin: 100% 50%;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1); }

#nav .menu__item:hover .menu__item-label::after,
#nav .menu__item:focus .menu__item-label::after {
  transform: scale3d(0, 1, 1);
  transform-origin: 0% 50%; }

/*# sourceMappingURL=nav.css.map */
