@import url('https://fonts.googleapis.com/css?family=Roboto|Monoton');
@import 'base';
@import 'nav';


//init

body,
html {
    width: 100%;
    height: 100%;
    background: $background-color;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#container {
    //width: 100%;
    //height: 100%;

}

.load-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $secondary-color;
    z-index: 1;
    .bar {
        width: 250px;
        height: 3px;
        background: #3E67D6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }
}


/* Animations */
/* Initial animation of loading bar  */
.loading{
    .bar::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 100%;
        background: #fff;
        z-index: 0;
        left: 0;
        margin: 0;
        top: 0;
        animation: loading 1s linear 0.5s forwards;

    }
}
@keyframes loading {
    from {
        width: 5%;
        opacity: 1;
    }

    to {
        width: 100%;
    }
}
.loading{
    .bar{
        position: absolute;
        top: 50%;
        left: 40%;
        transform: scaleX(1);
        animation: completed 0.1s linear 1.6s forwards;
    }
}
@keyframes completed {
    to {
        //width: 100%;
        //transform: translate(-50%);
        transform: scaleX(0);
        //opacity: 0;
    }
}

.loading{
    .load-wrapper {

        animation: animLoadedHeader 0.5s cubic-bezier(0.7, 0, 0.3, 1) 1.7s forwards;
    }
}
@keyframes animLoadedHeader {
    to {
        transform: translate3d(0, -100%, 0);
    }
}


/** loading finishes */

.loaded .load-wrapper {
    display: none;
}


/* Main elements */
#main {
    visibility: hidden;
    opacity: 0;
}
/* Main Contents */
.loaded #main {
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease;
    color: #313131;

}



// main animation
.svg-hello {
    @include toBeCenter;
    width: 35%;
    transform: translate(-50%, -65%);

    svg {
        fill: none;
        margin-top: -7px;
        //stroke-linecap: round;
        //stroke-linejoin: round;
        transform: rotate(-18deg);

        path {
            transition: fill 1s ease-in-out;
            fill: transparent;
            stroke: #c7edf2;
            stroke-linejoin: round;
            stroke-width: 7px;
        }
    }
}
.slide{
    @include toBeCenter;
    border: 0px solid red;
    & .myname {

        position: relative;
        margin: 0 !important;
        color: $secondary-color;
        transform: translate(-60%);

        font: {
            size: 7vw;
            family: Monoton, sans-serif;
            weight: 400;
            //style: normal;
        }
        span{
            opacity: 0;
        }
        div.line{
            position: absolute;
            width: 100%;
            height: 5px;
            top: 50%;
            background: $secondary-color;
            transform: scale3d(0,1,1);
            transform-origin: 0% 50%;
        }
    }

}
.letter-effect {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}
